@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-primary: #4169E1;       /* Royal Blue */
  --color-secondary: #A020F0;     /* Electric Purple */
  --color-background: #F8F8FF;    /* Ghost White */
  --color-surface: #FFFFFF;       /* Card background */
  --color-text: #0D0D0D;          /* Rich Black */
  --color-header: #2E2E2E;        /* Charcoal */
}

.bg-header {
  background-color: var(--color-header);
}